/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #ececec;
  font-size: 62.5%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  width: 90%;
  margin: 0 auto;
}

h1 {
  margin: 1em 0;
  color: #8a7500;
  text-align: center;
  font-size: 2rem;
  font-family: cursive;
}

h3 {
  font-size: 1.1rem;
  letter-spacing: .2em;
}

p {
  font-size: .8rem;
}

.questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.question {
  width: 80%;
  margin: 1rem auto;
  border-radius: 5px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 19px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 19px 0 rgba(0, 0, 0, 0.2);
}

.question-title {
  padding: 1.4em 1.5em 1em 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question-answer {
  position: relative;
  padding: 1em;
}

.question-answer:before {
  content: '';
  width: 93%;
  position: absolute;
  left: 50%;
  top: 0;
  border-bottom: 1px solid #8a7500;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.question-creator {
  width: 90%;
  margin: 2rem auto;
  font-size: 1rem;
}

.question-creator form {
  display: -ms-grid;
  display: grid;
  gap: 10px;
}

.question-creator div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 375px) {
  .question-creator {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .questions {
    width: 768px;
    margin: 0 auto;
  }
  .question-creator {
    width: 768px;
  }
  .question-creator form {
    width: 80%;
    margin: 0 auto;
  }
}

.btn {
  color: #8a7500;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: transparent;
}

.hide {
  display: none;
}
/*# sourceMappingURL=style.css.map */